/* Додаємо загальне правило для коректного обчислення розмірів */
* {
  box-sizing: border-box;
}

body {
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #404bbf;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* -----------header------------- */
.logo-web,
.logo-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.logo-web {
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.header-nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  color: #434455;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #2e2f42;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav-title {
  display: flex;
  align-items: center;
}

.menu-contact {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-menu {
  font-style: normal;
  margin-left: auto;
}

.main-section-title {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-section-member {
  display: flex;
  gap: 24px;
  row-gap: 48px;
  width: 100%;
}

.sub-title {
  margin-bottom: 8px;
}

.main-section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.photo-member {
  width: calc((100% - 72px) / 3);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.main-section-info {
  padding-top: 120px;
  padding-bottom: 120px;
}

.heading-effective {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  color: #fff;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto;
}

.mail-info,
.tel-info {
  font-size: 16px;
  color: #434455;
}

.button-effective {
  background: #4d5ae5;
  color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
}

.button-effective:hover,
.button-effective:focus {
  background-color: #404bbf;
}

.team-member-title,
.header-text,
.heading-second {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.header-portfolio {
  margin-bottom: 72px;
}

.team-member-title {
  margin-bottom: 8px;
}

.team-member-text {
  text-align: center;
}

.section-member {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-member,
.header-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.header-member {
  margin-bottom: 72px;
}

.footer-menu {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.text-footer {
  max-width: 264px;
}

.logo-studio-footer,
.footer-menu p {
  color: #f4f4fd;
}

.section-info-list {
  display: flex;
  gap: 24px;
  padding-right: 36px;
  padding-left: 36px;
}

.section-info-item {
  width: calc((100% - 72px) / 4);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  width: 100%;
}

.text-portfolio {
  flex-basis: calc((100% - 48px) / 3);
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.header-text {
  margin-bottom: 8px;
}

.team-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
